.search {
  display: block;
  margin: 20px auto;
  width: 50%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: 0;
}

#container {
  margin: 20px;
}

.brick {
  padding: 5%;
  width: 50%;
}

@media (max-width: 1000px) {
  .brick {
    width: 100%;
  }
}

.comicImg {
  width: 100%;
}